:root {
  --primary-dark: #1f1cdd;
  --primary-light: #8684ec;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background: #f1f1f1;
  padding: 1em;
  padding: 0;
  margin: 0;
}

nav{
  height: 60vh;
  background-image:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.5)),url("../public/img/1.jpg");
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center center;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header h1{
  font-size: 36px;
  margin-top: 10px;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;

}

.header h2{
  font-size: 26px;
  margin-top: -10px;
  color: #fff;

}

h3{
  font-size: 1.4rem;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.header{
text-align: center;
}

footer{
  text-align: center;
}

form { max-width:420px; margin:50px auto; }

.feedback-input {
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid var(--primary-light);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid var(--primary-dark); }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:var(--primary-light);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:var(--primary-dark); }

.center{
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: var(--primary-dark);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }

  button{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-weight: 600;
    background-color: var(--primary-dark);
  }

  .grid{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-container {
    position: relative;
    text-align: center;
    color:#000;
    width: 550px;
    height: 400px;
  }

  .img-container img{
    opacity: 0.3;
  }

 .img-container img:hover{
    opacity: 0.7;
    transition: 0.1s ease-in;
    cursor: pointer;
  }


  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transition: 0.1s ease-in;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px #0f0e0e;
  }

  .img-container img:hover + .centered{
    font-size: 50px;
  }

  @media only screen and (max-width: 600px) {
    .grid {
      display: block;
      text-align: center;
    }

    .img-container {
      width: 450px;
      height: 300px;
      text-align: center;
    }
  }